# Learning Python
## How to use jupyter notebook
### Basics of python

### 01- My first program

In [1]:
print(2+3)
print("hello, my name is Ayaz")

5
hello, my name is Ayaz

### **02-second_program**

In [2]:
print(2+1)
print(3-1)
print(6/2)
print(2*3)
print(13 % 2)
print(6//2)
print(2**3)

3
2
3.0
6
1
3
8

*PEMDAS*

*parenthesis exponent multiplication division addition substraction*

*left to right sequence for  M D and A S *

### **03-strings**

In [3]:
print(2+3)
print("hello, my name is Ayaz")
print('test for single quotes')
print("test for double quotes")
print('''test for triple quotes''')
print("what's up   ?")

5
hello, my name is Ayaz
test for single quotes
test for double quotes
test for triple quotes
what's up   ?

### **04-comments**
the shortcut key to comment is **Ctrl+/**

In [4]:
# print(2+3)
print("hello, my name is Ayaz")

hello, my name is Ayaz